<!DOCTYPE html>
<html>
  <head>
    <title>FOSS events och annat intressant</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  </head>
  <body>
	<h2>Aj fan, ett fel inträffade!</h2>
	<div id="error">
			<%= message %>
	</div>
</html>